MONGODB_URI=
JWT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=
ADMIN_PASSWORD=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=
NEXT_PUBLIC_VAPID_KEY=
ZENUXS_CLIENT_ID=
ZENUXS_CLIENT_SECRET=
ZENUXS_AUTH_SERVER=
NEXT_PUBLIC_ZENUXS_CLIENT_ID=
